<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>High Sports</title>
  <link rel="stylesheet" href="../base/css/variables.css" />
  <link rel="stylesheet" href="../base/css/layout.css" />
  <link rel="stylesheet" href="./news-football.css" />
  <script type="text/javascript" src="https://kit.fontawesome.com/02d70372b7.js" crossorigin="anonymous"></script>
</head>

<body class="page-container">
  <header>
    <div class="menu">
      <div class="title flex-center">
        <i class="fas fa-bars"></i>
        <span>MENU</span>
      </div>
      <div class="sub-menu">

      </div>
    </div>
    <a class="logo" href="../home/home.html">High Sports</a>
    <a href="../contact/contact.html">Contate-nos</a>
  </header>
  <section class="content flex-center">
    <div class="align-content">
      <nav class="flex-center">
        <a href="../home/home.html">Inicio</a>
        <span>>></span>
        <a href="#">Futebol</a>
        <span>>></span>
        <a href="#">Atuações: Yuri Alberto e Patrick decidem no ataque; Daniel garante vitória do Inter</a>
      </nav>
      <div class="header-infos">
        <span class="page-category">Futebol</span>
        <h1>Atuações: Yuri Alberto e Patrick decidem no ataque; Daniel garante vitória do Inter</h1>
        <h3>Colorado fez 1 a 0 no Sport na noite desta segunda-feira, na Ilha do Retiro, no encerramento da 20ª rodada do Brasileirão</h3>
        <div class="designed-info flex-center">
          <img src="../../assets/images/jpeg/fabio-icon.png" />
          <span>por <strong>fabio susin</strong></span>
          <span class="with-trace">SET 14, 2021</span>
          <span class="with-trace">atualizado: SET 15, 2021</span>
          <span><i class="far fa-clock"></i> 5 minutos de leitura</span>
        </div>
        <div class="social-medias flex-center">
          <div class="facebook flex-center"><i class="fab fa-facebook"></i>Facebook</div>
          <div class="twitter flex-center"><i class="fab fa-twitter"></i>Twitter</div>
          <div class="pinterest flex-center"><i class="fab fa-pinterest-p"></i>Pinterest</div>
        </div>
      </div>
      <div class="news-content flex-center">
        <article class="left-content">
          <img src="../../assets/images/jpeg/yuri-alberto.jpg" />
          <p>O Inter foi até a Ilha do Retiro e garantiu uma vitória por 1 a 0 sobre o Sport. Em boa trama ofensiva, a equipe do técnico Diego Aguirre abriu o placar nos minutos iniciais da partida. Patrick recebeu de Yuri Alberto e fez o único gol do jogo. Confira as atuações do Colorado:</p>
          <h1>Yuri Alberto</h1>
          <p>Vive grande fase individual. Sua movimentação abriu o espaço para o lance do gol. Poderia ter duas assistências, mas Guerrero perdeu na cara do goleiro. <strong>Nota: 7,5</strong></p>
          <h1>Daniel</h1>
          <p>O Sport chegou pouco na área do Inter. Na melhor chance dos pernambucanos, em cabeceio de Mikael, o goleiro colorado fez grande defesa para garantir a vitória.<strong>Nota: 7,0</strong></p>
          <img src="../../assets/images/jpeg/ilha-respiro.jpg" />
          <h1>Patrick</h1>
          <p>Mesmo contestado pela torcida, continua com a confiança de todos os técnicos que passaram pelo Beira-Rio. Aproveitou a desatenção da defesa do Sport e marcou mais uma vez contra seu ex-time. <strong>Nota: 7,0</strong></p>
        </article>
        <aside class="right-content flex-center">
          <div class="top-news">
            <div class="header-category-name">
              <h1>Mais Lidas da Semana</h1>
            </div>
            <div class="list-news flex-center">
              <a href="../news-football/news-football.html" class="news flex-center">
                <img src="../../assets/images/jpeg/ilha-respiro.jpg">
                <div class="infos flex-center">
                  <span class="title">Inter vence Sport na Ilha do Retiro e sobe três posições na tabela</span>
                  <span class="date">SET 14, 2021</span>
                </div>
              </a>
              <div class="news flex-center">
                <img src="../../assets/images/jpeg/stjd.jpg">
                <div class="infos flex-center">
                  <span class="title">Sem mudança em decisão do STJD, clubes querem adiamento da rodada do Brasileiro</span>
                  <span class="date">SET 14, 2021</span>
                </div>
              </div>
              <div class="news flex-center">
                <img src="../../assets/images/jpeg/camisa-cristiano.jpg">
                <div class="infos flex-center">
                  <span class="title">Mulher socorrida por Cristiano Ronaldo após bolada ganha camisa do craque do United</span>
                  <span class="date">SET 14, 2021</span>
                </div>
              </div>
              <a href="../news-athletics/news-athletics.html" class="news flex-center">
                <img src="../../assets/images/jpeg/alison-santos.jpeg">
                <div class="infos flex-center">
                  <span class="title">Alison dos Santos encerra grande temporada com ouro na Suíça</span>
                  <span class="date">SET 14, 2021</span>
                </div>
              </a>
            </div>
          </div>
          <div class="last-news">
            <div class="header-category-name">
              <h1>Últimas Notícias</h1>
            </div>
            <a href="../news-football/news-football.html" class="card">
              <div class="image bg-image">
                <img src="../../assets/images/jpeg/ilha-respiro.jpg">
              </div>
              <div class="description flex-center">
                <p>Inter vence Sport na Ilha do Retiro e sobe três posições na tabela</p>
                <span>SET 13, 2021</span>
              </div>
            </a>
            <a href="../news-surf/news-surf.html" class="card">
              <div class="image bg-image">
                <img src="../../assets/images/jpeg/medina.jpg">
              </div>
              <div class="description flex-center">
                <p>Medina revela pedido de Yasmin por manobra do título</p>
                <span>SET 14, 2021</span>
              </div>
            </a>
            <div class="card">
              <div class="image bg-image">
                <img src="../../assets/images/jpeg/camisa-cristiano.jpg">
              </div>
              <div class="description flex-center">
                <p>Mulher socorrida por Cristiano Ronaldo após bolada ganha camisa do craque do United</p>
                <span>SET 14, 2021</span>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
  <footer>
    <h1 class="flex-center">HIGH SPORTS</h1>
    <nav class="social-medias flex-center">
      <a class="flex-center" href="#"><i class="fab fa-facebook"></i></a>
      <a class="flex-center" href="#"><i class="fab fa-instagram"></i></a>
      <a class="flex-center" href="#"><i class="fab fa-twitter"></i></a>
      <a class="flex-center" href="#"><i class="fab fa-youtube"></i></a>
      <a class="flex-center" href="#"><i class="fab fa-pinterest-p"></i></a>
    </nav>
    <nav class="site-infos flex-center">
      <a href="../home/home.html">Inicio</a>
      <a href="#">Sobre Nós</a>
      <a href="../contact/contact.html">Contate-nos</a>
    </nav>
    <span class="flex-center">© 2021 High Sports. Desenvolvido por Fabio Susin</span>
  </footer>
</body>

</html>