<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>High Sports</title>
    <link rel="stylesheet" href="../base/css/variables.css" />
    <link rel="stylesheet" href="../base/css/layout.css" />
    <link rel="stylesheet" href="./home.css" />
    <script type="text/javascript" src="https://kit.fontawesome.com/02d70372b7.js" crossorigin="anonymous"></script>
</head>

<body class="page-container">
    <header>
        <div class="menu">
            <div class="title">
                <i class="fas fa-bars"></i>
                <span>MENU</span>
            </div>
            <div class="sub-menu">

            </div>
        </div>
        <h1>High Sports</h1>
        <a href="#">Contate-nos</a>
    </header>
    <section class="initial-page">
        <div class="center-content">
            <div class="monitor-content">
                <div class="monitor">
                    <div class="monitor-screen">
                        <img src="../../assets/images/jpeg/aleksandar-petrovic.jpg">
                        <p>Opinião: transferência de responsabilidade condenou Petrovic na seleção de basquete</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="left-content">
            <div class="item">
                <img src="../../assets/images/jpeg/ilha-respiro.jpg">
                <h1>Ilha do Respiro</h1>
                <p>Inter vence Sport na Ilha do Retiro e sobe três posições na tabela</p>
            </div>
        </div>
    </section>
    <nav></nav>
    <section class="main-container"></section>
    <footer>

    </footer>
</body>

</html>