<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>High Sports</title>
  <link rel="stylesheet" href="../base/css/variables.css" />
  <link rel="stylesheet" href="../base/css/layout.css" />
  <link rel="stylesheet" href="./news-surf.css" />
  <script type="text/javascript" src="https://kit.fontawesome.com/02d70372b7.js" crossorigin="anonymous"></script>
</head>

<body class="page-container">
  <header>
    <div class="menu">
      <div class="title flex-center">
        <i class="fas fa-bars"></i>
        <span>MENU</span>
      </div>
      <div class="sub-menu">

      </div>
    </div>
    <a class="logo" href="../home/home.html">High Sports</a>
    <a href="../contact/contact.html">Contate-nos</a>
  </header>
  <section class="content flex-center">
    <div class="align-content">
      <nav class="flex-center">
        <a href="../home/home.html">Inicio</a>
        <span>>></span>
        <a href="#">Surfe</a>
        <span>>></span>
        <a href="../news-surf/news-surf.html">Medina revela pedido de Yasmin por manobra do título</a>
      </nav>
      <div class="header-infos">
        <span class="page-category">Surfe</span>
        <h1>Medina revela pedido de Yasmin por manobra do título</h1>
        <h3>Campeão mundial pela terceira vez, ídolo brasileiro diz que a esposa insistiu para que fizesse o backflip, aponta Senna como ídolo e rasga elogios ao rival da decisão Filipe Toledo</h3>
        <div class="designed-info flex-center">
          <img src="../../assets/images/jpeg/fabio-icon.png" />
          <span>por <strong>fabio susin</strong></span>
          <span class="with-trace">SET 14, 2021</span>
          <span class="with-trace">atualizado: SET 15, 2021</span>
          <span><i class="far fa-clock"></i> 5 minutos de leitura</span>
        </div>
        <div class="social-medias flex-center">
          <div class="facebook flex-center"><i class="fab fa-facebook"></i>Facebook</div>
          <div class="twitter flex-center"><i class="fab fa-twitter"></i>Twitter</div>
          <div class="pinterest flex-center"><i class="fab fa-pinterest-p"></i>Pinterest</div>
        </div>
      </div>
      <div class="news-content flex-center">
        <article class="left-content">
          <img src="../../assets/images/jpeg/medina.jpg" />
          <p>Gabriel Medina conquistou o terceiro título mundial da carreira ao bater Filipe Toledo nas duas baterias da decisão do WSL Finals. O segundo triunfo veio depois de um backflip lindo e um empurrãozinho da esposa Yasmin Brunet.</p>
          <div class="cite flex-center">
            <cite>"A Yasmin ficou enchendo o saco a semana toda 'Você tem que mandar o backflip, eu quero o 10'".</cite>
          </div>
          <p>- O backflip foi especial. Eu senti o momento ali, era uma onda que eu tinha que arriscar para valer. Eu fui com a mentalidade de fazer o 10 na bateria, não veio, mas foi a manobra que ela me pediu. Então foi legal - completou o brasileiro.</p>
          <p>O 10, de fato, não veio. A manobra rendeu "apenas" um 9.03 para Gabriel, mas a nota foi essencial para a conquista do mundial. Pouco antes, Filipe Toledo tinha pegado uma boa série que rendeu a ele um 8.53, o que seria o suficiente para a virada. Mas a nota do backflip segurou a vitória e o título.</p>
          <p>Medina chega, assim, ao terceiro troféu de sua ainda jovem carreira (tem apenas 27 anos) e se torna o terceiro maior campeão da história do circuito mundial de surfe, ao lado de ninguém menos de Andy Irons, Tom Curren e Mick Fanning. Apenas Mark Richards (5) e Kelly Slater (11) têm mais.</p>
          <img src="../../assets/images/jpeg/medina2.jpg" />
          <p>Falando em Fanning, Gabriel sempre fez questão de destacar a Mick como o grande ídolo que teve dentro das águas. Fora delas, um brasileiro é o primeiro nome a sair da boca do gênio do surfe.</p>
          <div class="cite flex-center">
            <cite>"O Ayrton [Senna] é a minha maior inspiração fora da água", ressaltou.</cite>
          </div>
          <h1>Orgulho da Brazilian Storm</h1>
          <p>Se Gabriel Medina foi o grande campeão, a Brazilian Storm teve ainda outros ótimos motivos para comemorar. Filipe Toledo (2º) e Ítalo Ferreira (3º) completaram um pódio completamente nacional, enquanto Tatiana Weston-Webb foi a vice-campeã do feminino, perdendo a final para a havaiana Carissa Moore.</p>
          <p>- Eu tenho muito orgulho de todos eles. Eu lembro da época que a gente comemorava o 9º e o 5º colocado, e hoje se você não ganha é um resultado ruim. Eles me ajudaram me puxando, sempre fazendo eu mostrar o meu melhor e vice-versa. Eu sou muito grato por fazer parte da Brazilian Storm - lembrou o três vezes campeão.</p>
          <img src="../../assets/images/jpeg/medina3.jpg" />
          <p>Gabriel não poupou elogios a Filipinho, que, apesar de figurar sempre entre os melhores do mundo no ranking, ainda não conseguiu conquistar o título mundial.</p>
          <p>- O Ítalo e o Filipe são dois caras que eu admiro demais, toda bateria que tem, você nunca sabe para onde vai. Eles me tiram da zona de conforto. Filipinho é um cara que já merece o título mundial faz tempo. A hora dele vai chegar - concluiu.</p>
          <p>A conquista de Gabriel Medina em 2021 garante o quinto título mundial da Brazilian Storm nas últimas sete temporadas (em 2020 não houve campeonato por conta da pandemia de Covid). São três de Gabriel (2014, 2018 e 2021), um de Adriano de Souza (2015) e um de Ítalo Ferreira (2019).</p>
        </article>
        <aside class="right-content flex-center">
          <div class="top-news">
            <div class="header-category-name">
              <h1>Mais Lidas da Semana</h1>
            </div>
            <div class="list-news flex-center">
              <a href="../news-football/news-football.html" class="news flex-center">
                <img src="../../assets/images/jpeg/ilha-respiro.jpg">
                <div class="infos flex-center">
                  <span class="title">Inter vence Sport na Ilha do Retiro e sobe três posições na tabela</span>
                  <span class="date">SET 14, 2021</span>
                </div>
              </a>
              <div class="news flex-center">
                <img src="../../assets/images/jpeg/stjd.jpg">
                <div class="infos flex-center">
                  <span class="title">Sem mudança em decisão do STJD, clubes querem adiamento da rodada do Brasileiro</span>
                  <span class="date">SET 14, 2021</span>
                </div>
              </div>
              <div class="news flex-center">
                <img src="../../assets/images/jpeg/camisa-cristiano.jpg">
                <div class="infos flex-center">
                  <span class="title">Mulher socorrida por Cristiano Ronaldo após bolada ganha camisa do craque do United</span>
                  <span class="date">SET 14, 2021</span>
                </div>
              </div>
              <a href="../news-athletics/news-athletics.html" class="news flex-center">
                <img src="../../assets/images/jpeg/alison-santos.jpeg">
                <div class="infos flex-center">
                  <span class="title">Alison dos Santos encerra grande temporada com ouro na Suíça</span>
                  <span class="date">SET 14, 2021</span>
                </div>
              </a>
            </div>
          </div>
          <div class="last-news">
            <div class="header-category-name">
              <h1>Últimas Notícias</h1>
            </div>
            <a href="../news-football/news-football.html" class="card">
              <div class="image bg-image">
                <img src="../../assets/images/jpeg/ilha-respiro.jpg">
              </div>
              <div class="description flex-center">
                <p>Inter vence Sport na Ilha do Retiro e sobe três posições na tabela</p>
                <span>SET 13, 2021</span>
              </div>
            </a>
            <a href="../news-surf/news-surf.html" class="card">
              <div class="image bg-image">
                <img src="../../assets/images/jpeg/medina.jpg">
              </div>
              <div class="description flex-center">
                <p>Medina revela pedido de Yasmin por manobra do título</p>
                <span>SET 14, 2021</span>
              </div>
            </a>
            <div class="card">
              <div class="image bg-image">
                <img src="../../assets/images/jpeg/camisa-cristiano.jpg">
              </div>
              <div class="description flex-center">
                <p>Mulher socorrida por Cristiano Ronaldo após bolada ganha camisa do craque do United</p>
                <span>SET 14, 2021</span>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
  <footer>
    <h1 class="flex-center">HIGH SPORTS</h1>
    <nav class="social-medias flex-center">
      <a class="flex-center" href="#"><i class="fab fa-facebook"></i></a>
      <a class="flex-center" href="#"><i class="fab fa-instagram"></i></a>
      <a class="flex-center" href="#"><i class="fab fa-twitter"></i></a>
      <a class="flex-center" href="#"><i class="fab fa-youtube"></i></a>
      <a class="flex-center" href="#"><i class="fab fa-pinterest-p"></i></a>
    </nav>
    <nav class="site-infos flex-center">
      <a href="../home/home.html">Inicio</a>
      <a href="#">Sobre Nós</a>
      <a href="../contact/contact.html">Contate-nos</a>
    </nav>
    <span class="flex-center">© 2021 High Sports. Desenvolvido por Fabio Susin</span>
  </footer>
</body>

</html>