<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>High Sports</title>
  <link rel="stylesheet" href="../base/css/variables.css" />
  <link rel="stylesheet" href="../base/css/layout.css" />
  <link rel="stylesheet" href="./contact.css" />
  <script type="text/javascript" src="https://kit.fontawesome.com/02d70372b7.js" crossorigin="anonymous"></script>
</head>

<body class="page-container">
  <header>
    <div class="menu">
      <div class="title flex-center">
        <i class="fas fa-bars"></i>
        <span>MENU</span>
      </div>
      <div class="sub-menu">

      </div>
    </div>
    <a class="logo" href="../home/home.html">High Sports</a>
    <a href="../contact/contact.html">Contate-nos</a>
  </header>
  <section class="flex-center">
    <div class="form flex-center">
      <div class="icon-top flex-center">
        <i class="fas fa-envelope" aria-hidden="true"></i>
      </div>
      <h1 class="title flex-center">Nos deixe a sua mensagem!</h1>
      <form class="flex-center">
        <div class="left-content">
          <div class="bg-campo-text-padrao">
            <label>Nome</label>
            <input class="input-padrao">
          </div>
          <div class="bg-campo-text-padrao">
            <label>Data de Nascimento</label>
            <input class="input-padrao">
          </div>
          <div class="bg-campo-text-padrao">
            <label>Logradouro</label>
            <input class="input-padrao">
          </div>
          <div class="bg-campo-text-padrao">
            <label>Bairro</label>
            <input class="input-padrao">
          </div>
          <div class="bg-campo-text-padrao">
            <label>Estado</label>
            <input class="input-padrao">
          </div>
        </div>
        <div class="right-content">
          <div class="bg-campo-text-padrao">
            <label>CPF</label>
            <input class="input-padrao">
          </div>
          <div class="bg-campo-text-padrao">
            <label>Email</label>
            <input class="input-padrao">
          </div>
          <div class="bg-campo-text-padrao">
            <label>Logradouro Numero</label>
            <input class="input-padrao">
          </div>
          <div class="bg-campo-text-padrao">
            <label>Cidade</label>
            <input class="input-padrao">
          </div>
          <div class="bg-campo-text-padrao">
            <label>País</label>
            <input class="input-padrao">
          </div>
        </div>
        <button class="default-button">Enviar</button>
      </form>
    </div>
  </section>
  <footer>
    <h1 class="flex-center">HIGH SPORTS</h1>
    <nav class="social-medias flex-center">
      <a class="flex-center" href="#"><i class="fab fa-facebook"></i></a>
      <a class="flex-center" href="#"><i class="fab fa-instagram"></i></a>
      <a class="flex-center" href="#"><i class="fab fa-twitter"></i></a>
      <a class="flex-center" href="#"><i class="fab fa-youtube"></i></a>
      <a class="flex-center" href="#"><i class="fab fa-pinterest-p"></i></a>
    </nav>
    <nav class="site-infos flex-center">
      <a  href="../home/home.html">Inicio</a>
      <a href="#">Sobre Nós</a>
      <a href="../contact/contact.html">Contate-nos</a>
    </nav>
    <span class="flex-center">© 2021 High Sports. Desenvolvido por Fabio Susin</span>
  </footer>
</body>

</html>