:root {
    --main-page-width: 1280px;
    --main-footer-width: 1050px;
    --danger: red;
    --theme-darker-color: #313438;
    --theme-darker-color-brighter: #1b1e21;
    --theme-darker-color-brighter2: #181a1d;
    --theme-main-font-color-light-hover: #a7a7a7;
    --theme-main-font-color-light: #fff;
    --theme-main-font-family: "Poppinns", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}